.app {
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	width: 1180px;
	margin: 0 auto;
	padding: 90px 30px 30px 30px;

	.pages {
		width: 960px;
		height: 720px;
		background: linear-gradient(222.5deg, #FFFFFF 47.82%, #FBFCFF 85.32%);
		box-shadow: 8.16431e-16px 8px 20px rgba(0, 0, 0, 0.04);
		border-radius: 20px;
	}
}