.app {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-height: 100vh;
	color: var(--up-text-primary);
	background-color: var(--up-page-background);
}