.sidebar {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 200px;
    height: 720px;
    margin-right: 20px;
    background: #FFFFFF;
    box-shadow: 16px 8px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 40px 0;
    box-sizing: border-box;

    .logo {
        margin-bottom: 28px;
        padding: 0 40px;
    }

    .menus {
        width: 100%;

        .menu {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: center;
            height: 28px;
            width: 100%;
            margin-bottom: 18px;
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            color: #5E5F6E;
            cursor: pointer;
            border-right: 2px solid transparent;
            transition: all .15s ease-in-out;

            .menu_inner {
                width: 120px;
                height: 45px;
                border-radius: 12px;
                padding: 12px 10px;
                display: flex;
                align-items: center;
                flex-flow: row nowrap;
                justify-content: flex-start;

                &:hover {
                    background-color: #F7F7FA;
                }

                img {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
            .pop {
                background-color: #E85050;
                display: flex;
                align-items: center;
                font-size: 12px;
                color: #fff;
                justify-content: center;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                position: absolute;
                right: 40px;
            }
        }

        .selected {
            border-right: 2px solid #8864FF;
            color: #1F202A;
        }
    }
}

.more_overlay {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #5E5F6E;

    .item {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        padding: 12px;
        width: 164px;
        height: 44px;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
            background: #F7F7FA;
        }

        .left {
            display: flex;
            justify-content: flex-start;
            flex-flow: row nowrap;
            align-items: center;

            img {
                display: inline-block;
                margin-right: 12px;
            }
        }
    }
}