$select-prefix: 'rc-select';



.up-select-title {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--up-text-primary);
    margin-bottom: 8px;
}

.rc-select {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E1E6F0;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: border 0.3s ease-in-out;

    &:hover {
        border-color: #8864FF;
    }

    &-show-arrow &-loading {
        .rc-select-arrow {
            &-icon::after {
                box-sizing: border-box;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                border: 2px solid #999;
                border-top-color: transparent;
                border-bottom-color: transparent;
                transform: none;
                margin-top: 4px;
                animation: rcSelectLoadingIcon 0.5s infinite;
            }
        }
    }

    &-selection-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &-selector {
        width: 100%;
        height: 100%;
        padding: 10px 16px;
    }

    &-selection-search {
        display: none;
    }

    &-show-arrow {
        &.rc-select-multiple .rc-select-selector {
            padding-right: 20px;
            color: #97989D;
            font-size: 14px;
            line-height: 20px;
        }

        .rc-select-arrow {
            pointer-events: none;
            position: absolute;
            right: 10px;
            top: 10px;

            &-icon::after {
                content: '';
                border: 5px solid transparent;
                width: 0;
                height: 0;
                display: inline-block;
                border-left-color: #999;
                position: absolute;
                top: 8px;
                right: -5px;
                transform-origin: 2.5px center;
                transition: transform 0.12s ease-out;
            }
        }

        .rc-select-selection-placeholder {
            line-height: 28px;
        }
    }

    &-open {
        .rc-select-arrow {
            &-icon::after {
                transform: translateX(-2.5px) rotate(-90deg)
            }
        }
    }

    // ============== Dropdown ===============
    &-dropdown {
        padding: 8px;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid #E1E6F0;
        box-shadow: 8.16431e-16px 8px 20px rgba(0, 0, 0, 0.04);
        border-radius: 16px;

        &-hidden {
            display: none;
        }
    }

    // =============== Option ================
    &-item {
        font-size: 16px;
        line-height: 1.5;
        padding: 4px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #1F202A;
        cursor: pointer;
        border-radius: 12px;
        height: 52px;

        // >>> Empty
        &:hover {
            background: #F7F7FA;
        }

        .rc-select-item-option-state {
            display: none;
        }

        &-option {
            display: flex;
            align-items: center;
        }

        &-option-content {
            display: flex;
            align-items: center;
        }
    }
}