.home {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80%;
    box-sizing: border-box;

    .summary {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
        height: 120px;
        box-sizing: border-box;
        background-color: var(--up-card-background);
    }

    .tokens {
        width: 100%;
        margin-top: 30px;
        padding: 30px;
        box-sizing: border-box;
        background-color: var(--up-card-background);
    }
}

.top_up {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
}