.header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: var(--up-card-background);
}