.up-history-dialog {
  width: 440px !important;
  
  .up_dialog_children {
    &::-webkit-scrollbar {
      display: none;
    }
    max-height: 584px;
    overflow: auto;
  }

  .status-tag {
    color: #F57A45;
    background-color: #FEF2EC;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 20px;
    margin-left: 8px;
  }

  .up-history-dialog-extra {
    cursor: pointer;
  }

  .record {
    .error {
      background: #FDEEEE;
      color: #E85050;
      padding: 12px 16px;
      border-radius: 12px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 20px 0;
      .label {
        font-weight: 500;
        color: var(--up-text-primary)
      }
      .content {
        display: flex;
        align-items: center;
        width: 260px;
        justify-content: flex-end;
        text-align: right;
        word-break: break-all;
        word-wrap: break-word;
        color: var(--up-text-secondary)
      }
    }
    .divider-line {
      padding: 0;
      align-items: center;
      .divider {
        border-top: 1px solid #F0F0F5;
        flex: 1;
        margin-left: 12px;
      }
    }
  }
}

