.up-history-dialog {
  width: 440px !important;
  .up-history-title-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    .up-history-title {
      font-size: 20px;
      display: flex;
      align-items: center;
    }
  }
  .up_dialog_top {
    margin-bottom: 24px;
  }
  
  .up_dialog_children {
    &::-webkit-scrollbar {
      display: none;
    }
    max-height: 584px;
    overflow: auto;
  }

  .status-tag {
    color: #E85050;
    background-color: #FDEEEE;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 8px;
    border-radius: 20px !important;
    margin-left: 8px;
    &.pending-tag {
      color: #F57A45;
      background-color: #FEF2EC;
    }
  }

  .up-history-dialog-extra {
    cursor: pointer;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 4px;
    &:hover {
      background-color: var(--up-content-background);
    }
  }

  .batch-records {
    border-bottom: 1px dashed #C1C1C1;
    margin-bottom: 28px;
  }

  .record {
    .error {
      background: #FDEEEE;
      color: #E85050;
      padding: 12px 16px;
      border-radius: 12px;
      margin-bottom: 24px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 28px;
      .label {
        font-weight: 500;
        color: var(--up-text-primary)
      }
      .content {
        display: flex;
        align-items: center;
        width: 260px;
        justify-content: flex-end;
        text-align: right;
        word-break: break-all;
        word-wrap: break-word;
        color: var(--up-text-secondary);
        &.clickable {
          cursor: pointer;
        }
        .clickable-content {
          display: flex;
          align-items: center;
        }
        &.primary-text {
          color: var(--up-text-primary)
        }
      }
    }
    .divider-line {
      align-items: center;
      margin-bottom: 16px;
      font-size: 16px;
      .divider {
        border-top: 1px solid #F0F0F5;
        flex: 1;
        margin-left: 12px;
      }
    }
  }
}

.history-record-status-tag {
  color: #E85050;
  background-color: #FDEEEE;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  padding: 0 8px;
  border-radius: 20px !important;
  margin-left: 8px;
  &.pending-tag {
    color: #F57A45;
    background-color: #FEF2EC;
  }
}

.rc-table-cell-scrollbar {
  padding: 0 !important;
}

