.up_dialog_body {
	overflow: hidden;
}

.up_dialog_overlay {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0px;
	background-color: $secondary-mask-2;
}

.up_dialog_content {
	width: 324px;
	height: auto;
	padding: 28px;
	border-radius: 20px;
	background-color: #fff;
	border: 0;
	outline: none;
	box-sizing: border-box;

	.up_dialog_top {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 12px;

		.up_dialog_title {
			flex: 1;
			font-weight: 600;
			font-size: 20px;
			line-height: 28px;
			color: var(--up-text-primary);
		}

		.up_dialog_close {
			cursor: pointer;
		}
	}

	.up_dialog_children {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: var(--up-text-secondary);
	}

	.up_dialog_footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 8px;

		.up_dialog_footer_divider {
			width: 12px;
		}
	}
}

.ReactModal__Overlay {
	transition: opacity 300ms ease-in-out;
	opacity: 0;

	&--after-open {
		opacity: 1;
	}

	&--before-close {
		opacity: 0;
	}
}

.ReactModal__Content {
	transition: all 300ms ease-in-out;
	transform: translateY(-30px);
	opacity: 0;

	&--after-open {
		opacity: 1;
		transform: translateY(30px);
	}

	&--before-close {
		opacity: 0;
		transform: translateY(0);
	}
}